<!doctype html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/img/logo.png" type="image/png">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .centered-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30rem;
            height: 24rem;
        }

        body {
            background: rgb(9,9,121);
            background: linear-gradient(214deg, rgba(9,9,121,1) 0%, rgba(3,1,54,1) 13%, rgba(2,0,36,1) 37%, rgba(3,2,52,1) 83%, rgba(9,9,121,1) 100%);
            height: 100vh; /* Ensure full viewport height coverage */
            margin: 0; /* Remove default margin */
        }
    </style>
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="card centered-card container py-3">
            <h5 class="text-center mb-3"><strong>Login to your account</strong></h5>
            
            <form class="container ps-5 pe-5" id="loginForm" action="/login" method="POST">
                <div class="mb-3">
                    <label for="input-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="input-email" name="email" placeholder="email@gmail.com" required>
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <label for="input-password" class="form-label">Password</label>
                        <span class="form-text" style="color: #1570EF; cursor: pointer;">Forgot?</span>
                    </div>
                    <input type="password" class="form-control mb-3" id="input-password" name="password" placeholder="Enter your password" required>
                    <div id="issue-assign-error-1" class="text-danger fs-6" style="display: none;">
                        <i class="bi bi-exclamation-circle"></i>
                        <span>Password must have at least 8 characters</span>
                    </div>
                    <div id="issue-assign-error-2" class="text-danger fs-6" style="display: none;">
                        <i class="bi bi-exclamation-circle"></i>
                        <span>Email or password incorrect</span>
                    </div>

                    <input type="hidden" id="deviceId" name="deviceId">
                    <input type="hidden" id="ipAddress" name="ipAddress">
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Login now</button>
            </form>

            <div class="text-center mt-3 mb-3">
                <span>Don't have an account?</span>
                <a href="/register" style="color: #1570EF; cursor: pointer;">Register now</a>
            </div>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const isLoggedIn = getCookie('isLogged');
            if (isLoggedIn) {
                window.location.href = '/home';
            }
        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', async (event) => {
            try {
                // Lấy mã định danh thiết bị
                const FingerprintJS = await import('https://fpjscdn.net/v3/OlgF0wkZCueWxjQcQUCs');
                const fp = await FingerprintJS.load();
                const result = await fp.get();

                const deviceId = result.visitorId; // Mã định danh thiết bị duy nhất

                // Lấy địa chỉ IP công khai
                const response = await fetch('/get-public-ip');
                const data = await response.json();
                const ipAddress = data.ip;

                // Lấy vị trí kinh độ, vĩ độ
                const latitude = data.lat;
                const longitude = data.lon;



                const form = document.getElementById('loginForm');
                if (form) {
                    const deviceInput = form.querySelector('input[name="deviceId"]');
                    const ipInput = form.querySelector('input[name="ipAddress"]');
                    const latitudeInput = form.querySelector('input[name="latitude"]');
                    const longitudeInput = form.querySelector('input[name="longitude"]');


                    if (deviceInput) {
                        deviceInput.value = deviceId;
                    } else {
                        console.error('Device input not found');
                    }

                    if (ipInput) {
                        ipInput.value = ipAddress;
                    } else {
                        console.error('IP input not found');
                    }

                    if (latitudeInput) {
                        latitudeInput.value = latitude;
                    } else {
                        console.error('latitude input not found');
                    }

                    if (longitude) {
                        longitudeInput.value = longitude;
                    } else {
                        console.error('longitude input not found');
                    }
                }
            } catch (error) {
                console.error('Error:', error);
            }


            document.getElementById('loginForm').addEventListener('submit', async function(event) {
                event.preventDefault();
                const formData = new FormData(this);
                const formObject = {};
                formData.forEach((value, key) => formObject[key] = value);

                try{
                    const response = await fetch(this.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formObject),
                    });

                    const result = await response.json();

                    if (response.ok) {
                        window.location.href = '/home';
                    } else if (response.status === 401) {
                        window.location.href = '/OTP'; 
                    } else {
                        const errorElement = document.getElementById('issue-assign-error-2');
                        errorElement.style.display = 'block';
                        errorElement.querySelector('span').textContent = result.error;
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>

</body>
</html>
